<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<div class = "contenedor">
    <div class = "barra_navegacion">
        <div class = "titulo">
            <h1><i class="fas fa-store"></i>  Tienda Genérica</h1>
        </div>
        <div class = "botones">				
                <a target="contenido" class="button" (click)="llevarcliente()"><span><i class="fas fa-user-tie" ></i>  Clientes</span></a> 
                <a target="contenido" class="button" (click)="llevarproductos()"><span><i class="fas fa-box"  ></i>  Productos</span></a> 
                <a target="contenido"><span><i class="fas fa-cash-register"  ></i>  Ventas</span></a>
                <a target="contenido" class="button" (click)="llevarreportes()"><span><i class="fas fa-file-invoice-dollar"   ></i>  Reportes</span></a>
            </div>
    </div>
</div>
